/* Define pink color palette using shorthand notation */
:root {
  --pink-dull: #402231; /* Dull pink */
  --pink-dark: #9f004d; /* Dark pink */
  --pink-rich: #c4005e; /* Rich pink */
  --pink-bright: #d64089; /* Bright pink */
  --pink-main: #e65b9e; /* Normal pink */
  --pink-rose: #ff80bd; /* Rose pink */
  --pink-light: #ffbfde; /* Light pink */
  
  --text-dark: #333; /* Dark text color */
  --text-light: #fff; /*Light text color*/
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--text-light);
  font-size: 16px;
}

nav {
  background-color: var(--pink-light);
  text-align: center;
  padding: 20px 0;
  border: none;
}

/* Add styles for active button */
nav button.active {
  background-color: var(--pink-rich); /* Change color for active button */
}

button {
  margin: 0 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 15px;
  background-color: var(--pink-main);
  color: var(--text-light);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--pink-bright);
}

.section {
  display: none;
  padding: 20px;
}

.section.active {
  display: block;
  background-color: var(--text-light);
  border-top: none;
}

h2 {
  margin-top: 0;
  color: var(--pink-dark);
}

p {
  margin-bottom: 0;
  color: var(--text-dark);
}

/* Adjusted styles to remove margin and extend background color to the bottom of the screen */

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 30px; /* Rounded corners for the section */
}

.about-text {
  flex: 1;
  max-width: 75%;
}

.about-text h2 {
  margin-top: 0;
  color: var(--pink-dark);
}

.about-text p {
  color: var(--text-dark);
}

.about-image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding-right: 20px;
  object-fit: cover;
}

.about-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

.about-column {
  flex: 1;
  overflow: hidden; /* Hide overflow content */
  margin-left: 0px;
  margin-right: 0px;
}

.about-section {
  position: relative; /* Set position to relative */
  padding: 20px;
  background-color: var(--pink-main);
}

.about-section h2 {
  margin-bottom: 10px;
  color: var(--text-light);
}

.about-links ul {
  list-style-type: none;
  padding: 0;
}

.about-links ul li {
  margin-bottom: 8px;
}

.about-links ul li a {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: bold;
  background-color: var(--pink-light); /* Background color for links */
  padding: 10px; /* Add padding for better readability */
  display: block; /* Ensure links fill their container */
  border-radius: 15px; /* Rounded corners for links */
  transition: background-color 0.3s;
}

.about-links ul li a:hover {
  background-color: var(--pink-rose); /* Adjust hover background color */
}